@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@1,300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.calc {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 25px 10px;
  padding-top: 0px;
  align-items: center;
  background-color: rgb(201, 201, 201);
  border-radius: 30px;
  flex-direction: column;
  border: 10px solid rgb(51, 51, 51);
  transition: box-shadow 0.9s ease;
}
.calc:hover{
  box-shadow: 10px 10px 15px #525252;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
button {
  border: none;
  background-color: rgb(150, 150, 150);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  font-family: 'Google Sans Code';
  font-weight: bolder;
  font-size: xx-large;
  transition: all 0.2s ease;
}
button:hover {
  background-color: rgb(114, 114, 114);
}
button:active {
  background-color: rgb(157, 157, 157);
}
.display {
  position: relative;
  bottom: -20px;
  border: 3px solid hsl(0, 2%, 50%);
  border-radius: 20px;
  background-color: hsl(0, 0%, 65%);
  height: 60px;
  width: 370px;
  text-align: left;
  font-family: 'Google Sans Code';
  font-weight: bolder;
  font-size: xx-large;
}
.smallCont{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: -360px;
}
#small {
  position: relative;
  top: 50px;
  width: 20px;
  height: 20px;
  font-size: small;
  text-indent: -2px;
}
#smaller{
  position: relative;
  top: 50px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-indent: -4px;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(138, 138, 138);
}

#org {
  background-color: orange;
}
#org:hover {
  background-color: hsl(39, 100%, 59%);
}
#org:active {
  background-color: rgb(255, 199, 96);
}
#equal {
  background-color: rgb(255, 115, 0);
}
#equal:hover {
  background-color: rgb(255, 139, 44);
}
#equal:active {
  background-color: rgb(255, 185, 127);
}
